<div class="dummy-phone">
  <div class="screen-shot">
    <div class="carousel carousel-fade" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "img1.jpg", height: '568', width: '419' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "img2.jpg", height: '568', width: '419' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "img3.jpg", height: '568', width: '419' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "img4.jpg", height: '568', width: '419' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "img5.jpg", height: '568', width: '419' %>
        </div>
      </div>
    </div>
  </div>
</div>